---
---

@font-face{
    font-family:"Lulo-Clean";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/aee74cb3-c913-4b54-9722-6001c92325f2.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/1b46b05b-cfdd-4d82-8c2f-5c6cfba1fe60.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/be340f0b-a2d4-41df-acb1-4dc124330a88.svg#be340f0b-a2d4-41df-acb1-4dc124330a88") format("svg");
}

$DESKTOP_WITH: 720px;

.syrena-32 {
  font-size: 32px;
  line-height: 1.6;
}

.syrena-25 {
  font-size: 25px;
  line-height: 1;
}

.syrena-17 {
  font-size: 17px;
}

.syrena-12 {
  font-size: 12px;
}

.syrena-left {
  text-align: left;
}

.syrena-primary {
  color: #{{ site.data.setup.color.primary }};
}

.syrena-white {
  color: #fff;
}

.navbar-default {
  background-color: #222;
  padding: 5px 0;
}

@media (min-width: $DESKTOP_WITH) {
  .navbar-default {
    padding: 10px 0;
  }
}

header {
  margin-top: 130px;
}

@media (min-width: $DESKTOP_WITH) {
  header {
    margin-top: 60px;
  }
}

#syrena-home-header-title {
  font-family: {{ site.data.setup.font.tertiary }};
  letter-spacing: 9px;
  color: #{{ site.data.setup.color.azul }};
}

.syrena-about-row {
  font-family: {{ site.data.setup.font.tertiary }};
  text-transform: uppercase;
}

.syrena-about-text p {
  font-family: {{ site.data.setup.font.primary }};
  margin: 0 48px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.syrena-about-text p+p {
  margin-top: 25px;
}

.syrena-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.syrena-contact-footer {
  margin: 32px 0 0;
}

.syrena-address {
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
  color: #ffF;
  line-height: 22px;
}

.syrena-footer-wrapper {
  background-color: #{{ site.data.setup.color.primary }};
  padding: 16px 0;
  width: 100%;
}

.syrena-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  display: block;
  width: 80%;
  height: 60px;
  background-image: url("{{ site.baseurl }}/img/syrena-header.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
}

.syrena-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.syrena-header-image {
  background-image: url('{{ site.baseurl }}/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 50%;
}

@media (min-width: $DESKTOP_WITH) {
  .header-logo-container {
    width: 50%;
    margin-left: 15px;
    background-position: left center;
  }
  .syrena-header {
    flex-direction: row;
  }
  .syrena-navbar {
    padding-right: 15px;
  }
  .syrena-header-image {
    height: 450px;
  }
}

.syrena-footer-container {
  width: 100%;
  padding: 0;
}

.syrena-footer {
  width: 100%;
  height: 80px;
  background-color: #{{ site.data.setup.color.primary }};
  background-image: url("{{ site.baseurl }}/img/syrena-footer.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: contain;
}

.img-thumbnail-container {
  width: 100%;
  overflow: hidden;
  max-height: 289px;
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper-3x1 {
  padding-bottom: 33%;
}

.video-wrapper {
  position: relative;
  margin: 10px auto;
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.swipebox-gallery .swipebox {
  width: 20%;
  margin: 24px 5px 0;
}

.swipebox-gallery .swipebox img {
  width: 100%;
}
