<!-- About Section -->
<section id="about" class="syrena-section">
    <div class="container">
        <div class="row syrena-about-row">
            <div class="col-md-3 text-center">
              <p class="syrena-32 syrena-primary syrena-left">About</p>
            </div>
            <div class="col-md-9 text-center syrena-about-text">
              <p class="syrena-17">
                Karen Hoffmann is an attorney in solo practice at Syrena Law in Old City, Philadelphia. <br>
                <br>
                She works with <a href="http://aldeapjc.org" target="_blank">Aldea - The People's Justice Center</a> to represent asylum seekers in detention, including families detained at the Berks family prison and separated at the border. She also works with the <a href="http://celdf.org" target="_blank">Community Environmental Legal Defense Fund</a> to represent communities across Pennsylvania who are fighting to protect their environment. Prior to attending law school at Temple University, she worked as a journalist in Latin America.
              </p>
            </div>
        </div>
    </div>
</section>
