<section id="contact" class="syrena-contact syrena-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h4 class="syrena-white"></h4>
              <h2 class="section-heading"></h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center syrena-contact-footer">
            <ul class="list-inline social-buttons">
              {% for network in site.data.setup.social %}
                {% assign email_url = "mailto:" | append: site.data.setup.email %}
                <li><a href="{{ network.url | replace: 'mailto:', email_url }}" target="_blank">
                  <i class="fa fa-{{ network.title }}"></i>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
</section>
