<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="syrena-header">

        <a class="page-scroll header-logo-container" href="#page-top"></a>

        <ul class="nav navbar-nav navbar-right syrena-navbar">
            <li class="hidden"><a href="#page-top"></a></li>
            <li><a class="page-scroll" href="#about">About</a></li>
            <li><a class="page-scroll" href="#posts">Posts</a></li>
            <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>

<header class="syrena-header-image">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading" id="syrena-home-header-title"></div>
      <!-- <a href="#que-somos" class="page-scroll btn btn-xl">Saiba Mais</a> -->
    </div>
  </div>
</header>
